<h1>New Post</h1>
<div class="row justify-space-between-md">
  <div class="login-card">
      <h2 class="page-title">New Post</h2>
      <form class="form new-post">
          <div class="form-group">
              <label for="title">Title</label>
              <input class="form-input" type="text" id="title" />
          </div>
  
          <div class="form-group">
              <label for="content">Content:</label>
              <textarea class="form-input" id="content"></textarea>
          </div>
          <div class="form-group">
              <button class="btn btn-primary" type="submit">Submit</button>
          </div>
      </form>
  </div>
</div>
<script src="/js/addPost.js"></script>